<div class="document-header mt-5 mb-5">
  <img class="h-40" src="assets/img/logo/logo.svg" />
  <h1>{{ BusinessValuesConstants.COMPANY_NAME }}</h1>
  <h2>Entreprise de services d’hôtellerie et de restauration (Catering)</h2>
  <h3>Siège Sociale : La Rassauta Groupe propriété N° 372 section 02 lot N° 428 Bordj El Kiffan Alger</h3>
  <h4>Tél. : +213 791 20 80 53 Fax : 023 83 29 28 Email: contact&commat;el-afia.com</h4>
  <h4>Banque Al Salam Bank Algeria Agence Kouba N° de compte : 038 016033251257001 46</h4>
  <hr>
</div>
