<ng-container *ngIf="(config$ | async) as config">

    <!-- Le layout complet (sidenav, toolbar, etc) pour toutes les pages sauf login -->
    <vex-base-layout *ngIf="!shouldHideLayout()">
      <vex-progress-bar></vex-progress-bar>
      <vex-search></vex-search>
  
      <mat-sidenav-container class="vex-layout-sidenav-container">
        <mat-sidenav (closedStart)="onSidenavClosed()" [disableClose]="!!(sidenavDisableClose$ | async)"
                     [fixedInViewport]="!!(sidenavFixedInViewport$ | async)" [mode]="(sidenavMode$ | async) ?? 'side'"
                     [opened]="!!(sidenavOpen$ | async)">
          <vex-sidenav [collapsed]="!!(sidenavCollapsed$ | async)"></vex-sidenav>
        </mat-sidenav>
  
        <mat-sidenav (closedStart)="onQuickpanelClosed()" [opened]="!!(quickpanelOpen$ | async)"
                     class="vex-layout-quickpanel" mode="over" position="end">
          <vex-quickpanel></vex-quickpanel>
        </mat-sidenav>
  
        <mat-sidenav-content class="vex-layout-sidenav-content">
          <vex-toolbar [class.dark]="config.layout === 'vertical'" class="vex-toolbar"></vex-toolbar>
  
          <main class="vex-layout-content">
            <router-outlet></router-outlet> <!-- <=== outlet pour les pages normales -->
          </main>
  
        </mat-sidenav-content>
      </mat-sidenav-container>
    </vex-base-layout>
  
    <!-- Et un router-outlet "nu" sans layout pour les pages comme /login -->
    <ng-container *ngIf="shouldHideLayout()">
      <router-outlet></router-outlet> <!-- <=== outlet sans layout pour /login -->
    </ng-container>
  
  </ng-container>
  