.document-footer {
  text-align: center;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
  color: #444;
  line-height: 1.1;
  margin-top: 0.8rem;
}

.document-footer hr {
  margin: 0.2rem auto;
  border: none;
  border-top: 1px solid #666;
  width: 90%;
}

.document-footer h4 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0; /* plus de marge entre les titres */
}
