<vex-secondary-toolbar current="Reset Mot de Passe">
    <vex-breadcrumbs [crumbs]="['Administration', 'Reset Mot de Passe']" class="flex-auto"></vex-breadcrumbs>

    <button class="ml-2" color="primary" mat-icon-button type="button">
        <mat-icon svgIcon="mat:more_vert"></mat-icon>
    </button>
</vex-secondary-toolbar>
<form [formGroup]="generalForm">
    <div [@stagger]="true" class="p-6 container">
        <div class="flex flex-col sm:flex-row gap-4">
            <div @fadeInUp class="card flex-auto">
                <div class="px-6 py-4 border-b flex items-center">
                    <h2 class="title m-0">Reset Mot de Passe</h2>
                </div>

                <div class="px-6 py-4 flex flex-col">
                    <mat-form-field class="flex-auto">
                        <mat-label>Mot de Passe Actuel</mat-label>
                        <input [type]="inputTypeOldPass" matInput required formControlName="oldPassword">
                        <button (click)="toggleVisibilityOldPass()" mat-icon-button matIconSuffix
                            matTooltip="Toggle Visibility" type="button">
                            <mat-icon *ngIf="visibleOldPass" svgIcon="mat:visibility"></mat-icon>
                            <mat-icon *ngIf="!visibleOldPass" svgIcon="mat:visibility_off"></mat-icon>
                        </button>
                        <mat-hint>Cliquez sur l'œil pour basculer la visibilité</mat-hint>
                    </mat-form-field>
                    <mat-form-field class="flex-auto">
                        <mat-label>Nouveau Mot de Passe</mat-label>
                        <input [type]="inputTypeNewPass" matInput required formControlName="newPassword">
                        <button (click)="toggleVisibilityNewPass()" mat-icon-button matIconSuffix
                            matTooltip="Toggle Visibility" type="button">
                            <mat-icon *ngIf="visibleNewPass" svgIcon="mat:visibility"></mat-icon>
                            <mat-icon *ngIf="!visibleNewPass" svgIcon="mat:visibility_off"></mat-icon>
                        </button>
                        <mat-hint>Cliquez sur l'œil pour basculer la visibilité</mat-hint>
                    </mat-form-field>

                    <mat-form-field class="flex-auto">
                        <mat-label>Nouveau Mot de Passe Confirmé</mat-label>
                        <input [type]="inputTypeNewPassConfirmed" matInput required formControlName="newPasswordConfirmed">
                        <button
                        (click)="toggleVisibilityNewPassConfirmed()"
                        mat-icon-button
                        matIconSuffix
                        matTooltip="Toggle Visibility"
                        type="button">
                        <mat-icon *ngIf="visibleNewPassConfirmed" svgIcon="mat:visibility"></mat-icon>
                        <mat-icon *ngIf="!visibleNewPassConfirmed" svgIcon="mat:visibility_off"></mat-icon>
                      </button>
                      <mat-hint>Cliquez sur l'œil pour basculer la visibilité</mat-hint>
                    </mat-form-field>
                    <br>





                    <div class="flex items-center justify-end gap-2">
                        <button mat-button type="button">Annuler</button>
                        <button color="primary" mat-flat-button type="button" [disabled]="!generalForm.valid"
                            (click)="update()">Valider</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</form>