<div [formGroup]="personForm">
    <div class="component-header">
        <h5>Infos Générales</h5>
    </div>
    <div mat-dialog-content>
        <div class="px-6 py-4 flex flex-col">
            <div class="flex flex-col sm:flex-row sm:gap-4">
                <mat-form-field class="flex-auto">
                    <mat-label>Prénom</mat-label>
                    <input matInput id="firstName" formControlName="firstName" >
                </mat-form-field>

                <mat-form-field class="flex-auto">
                    <mat-label>Nom</mat-label>
                    <input matInput id="lastName" formControlName="lastName" >
                </mat-form-field>

            </div>
          <div class="flex flex-col sm:flex-row sm:gap-4">
            <mat-form-field class="flex-auto">
              <mat-label>Tél.</mat-label>
              <input matInput id="phoneNumber" formControlName="phoneNumber" required>
            </mat-form-field>

            <mat-form-field class="flex-auto">
              <mat-label>Email.</mat-label>
              <input matInput id="email" formControlName="email">
            </mat-form-field>
          </div>
        </div>
    </div>
    <!-- Embed Insert Address Form -->
    <app-insert-address [parentForm]="parentForm" [supplier]="person"></app-insert-address>
</div>
